.body{
    margin: 0%;
    width: 100%;
    height: 100%;

}

header {
    background-color:#363EAF;
    width:100% ; 
    height: 60px;
    margin-bottom: 0%;
    
    
}
.divprinci{
    display: flex;
    float: left;
    width: 15%;
    background-color: #5686F3;
    margin-top: 0%;
    padding: 0%;
    margin-right: 2%;
 

    
}


.userheader {
   
    width: 28px;
    height: 28px;
    margin-right: 5%;
    margin-top: 2px;
}


 .editarusuario { 
        margin-top: 5px;
         float: right;
         text-align: center;
         font-family: 'Segoe UI';
         font-size: 25;
         margin-right: 2%;
 }  

 .editaruser {
     color:white;
    margin-top: 1px;
}

.imagencerrar{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    margin-top: 2px;

}

.cerrarsesionfig{
    margin-top: 5px;
    float: right;
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Segoe UI';
    font-size: 30;
    margin-right: 20px;

}

.cerrarpalabra{color:white;
    margin-top: 3px;}
    

.menu{
   
    height:100%;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    background-color: #5686F3;
  
    
}

.usermenu{
    width: 70px;
    height: 70px;
}
.figuremenu {
    margin-top: 0%;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    
}
.botonmenu {
    border: white 1px solid;
    background-color: #5686F3;
    width: 100%; 
    font-size: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
    line-height: 30px;
    text-align:center;
    margin-top: 7px;

}
.botonmenufn {
    
    background-color: #5686F3;
     padding-top: 3px;
    line-height: 30px;
    padding-top: 50%;
}

.iconoboton {
    width: 30px;
    height: 30px;
  margin-top: 0%; 
  padding-left: 0%;
  margin-right: 20px;
  display: flex;
  float: left;
}
.botonesmenu 
{width: 100% !important;
 text-align: left !important;
 padding-right: 40px !important;
 font-size: 17px !important;
 padding-top: 3px !important;




}
.btn {
    border: none;
    width:160px ;
    background-color:transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px ;
    margin-left: 0;
    text-align: left;
    
}

.divicono{
    float: left;
    margin-left:9px ;
    margin-right:0;
    
}

.btncatg{
    border: none ;
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px !important;
    margin-left: 0;
    width: 140px;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 5px;
    padding-left: 0;
    
}

.titulo {
    margin-top: 2% !important;
    font-family: Gabriola, Regular;
    margin-left: 2%;
    font-size: 36px;
}
.contenedortitulo {

    width: 100% !important ;
    display: flex !important;
    float: left !important;
    margin-left: 0% !important;

    height: 0% !important;
    margin-right: 0% !important;
    padding: 0% !important;
    margin-top: 0 !important;

}

.lineasub{
   margin-top: -1% !important;
   
   border: 1px black solid ;
   color: black;

}
.container{
    width: 50%;
    
}
 .contenedor1 {
     background-color:#EBEBEB !important;
     margin-top: 2%;
     margin-left: 27%!important;
     margin-right: 0 !important;
     width: 70% !important;
     padding: 2% !important;
 }

 .campana{
 
     width: 50px;
     margin-left: 41%;
     margin-top: 2%;
     margin-bottom: 3%;

 }
 .contenedor2 {
  
    margin-top: 2%;
    margin-left: 27%!important;
    margin-right: 0 !important;
    width: 70% !important;
    padding: 2% !important;
}
 .leyendaarticulos
 {
     font-size: 25px;
     font-family: Gabriola,Regular;
     margin-left:30% ;
     margin-bottom: 1%;
     
 }

 .numeroarti
 {
    font-size: 30px;
    font-family: Gabriola,Regular;
    margin-left: 43% ;
    margin-top: -2%;


 }

 .linkdetalles
 {
     font-family: Gabriiola,Regular;
     
    
 } 

 
  
     
    
 .imagenescard
 {
     width: 100px !important;
     margin-top: 4% !important;
     margin-left: 32% !important;
 }

.contenedorimg
{
    overflow:hidden !important;
    width: 80% !important;
    margin: 10% !important;
  
}
.bg1
{
    background-color: #D5F7FF !important;
}
.bg1:hover
{
    background-color: #65c0d4 !important;
    border-color: royalblue !important;
}

.bg2
{
    background-color: #F6BCE0 !important;
}

.bg2:hover
{
    background-color: #dd78b7 !important;
    border-color: #d82a95 !important;
}
.bg3
{
    background-color: #D7ECA4 !important;
}
.bg3:hover
{
    background-color: #caf369 !important;
    border-color:  #85b614 !important;;
}
.contenedorcards
{
    margin-top: 1% !important;
}

.card-title{
    font-family: Gabriola,Regular;
    font-size: 35px;
    text-align: center;
}