.body{
    margin: 0%;
    width: 100%;
    height: 100%;

}

header {
    background-color:#363EAF;
    width:100% ; 
    height: 70px;
    margin-bottom: 0%;
    
    
}
.divprinci{
    display: flex;
    float: left;
    width: 15%;
    background-color: #5686F3;
    margin-top: 0%;
    padding: 0%;
    height: 100%;

    
}


.userheader {
   
    width: 28px;
    height: 28px;
    margin-right: 5%;
    margin-top: 2px;
}


 .editarusuario { 
        margin-top: 5px;
         float: right;
         text-align: center;
        
         font-family: 'Segoe UI';
         font-size: 25;
         margin-right: 3px;
 }  

 .editaruser {
     color:white;
    margin-top: 1px;
}

.imagencerrar{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    margin-top: 2px;

}

.cerrarsesionfig{
    margin-top: 5px;
    float: right;
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Segoe UI';
    font-size: 30;
    margin-right: 20px;

}

.cerrarpalabra{color:white;
    margin-top: 3px;}
    

.menu{
   
    height:100%;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    background-color: #5686F3;
    padding: bottom 100px;
    
}

.usermenu{
    width: 70px;
    height: 70px;
}
.figuremenu {
    margin-top: 0%;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    
}
.botonmenu {
    border: white 1px solid;
    background-color: #5686F3;
    width: 100%; 
    font-size: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
    line-height: 30px;
    text-align:center;
    margin-top: 7px;

}
.iconoboton {
    width: 30px;
    height: 30px;
  margin-top: 0%; 
  padding-left: 0%;
  margin-right: 20px;
  display: flex;
  float: left;
}
.botonesmenu 
{width: 100% !important;
 text-align: left !important;
 padding-right: 40px !important;
 font-size: 17px !important;
 padding-top: 3px !important;




}
.btn {
    border: none;
    width:160px ;
    background-color:transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px ;
    margin-left: 0;
    text-align: left;
    
}

.divicono{
    float: left;
    margin-left:9px ;
    margin-right:0;
    
}

.titulo {
    margin-top: 2% !important;
    font-family: Gabriola, Regular;
    margin-left: 2%;
    font-size: 36px;
    width: 50%;
}
.contenedortitulo {

    width: 100% !important ;
    display: flex !important;
    float: left !important;
    margin-left: 0% !important;

    height: 0% !important;
    margin-right: 0% !important;
    padding: 0% !important;
    margin-top: 0 !important;

}

.lineasub{
   margin-top: 1% !important;
   width: 45%;
   border: 1px black solid ;
   color: black;

}
.formulario {
    margin-top: 8% !important ;
    margin-left: 35% !important;
    

    width: 50% !important;
    background-color: #f7f4f4 !important;
    padding-left: 5% !important;
    margin-right: 0% !important;
    padding-top: 4% ;
    padding-bottom: 5%;
    margin-bottom: 3%;
    

    
}

.form-label{
margin-top: 2% !important;
font-family: candara;
font-size: 18px;

}

.botonregistro{
 margin-left: 66% !important;
 text-align: center !important;
 width: 300px !important;
 margin-top: 30px !important;
font-size: 23px !important;
font-family: candara;
  
}

.productoeditado
{
    font-family: Gabriola, Regular ;
}