.body{
    margin: 0%;
    width: 100%;
    height: 100%;

}

header {
    background-color:#363EAF;
    width:100% ; 
    height: 70px;
    margin-bottom: 0%;
    
    
}
.divprinci{
    display: flex;
    float: left;
    width: 15%;
    background-color: #5686F3;
    margin-top: 0%;
    padding: 0%;
    height: 800px;

    
}


.userheader {
   
    width: 28px;
    height: 28px;
    margin-right: 5%;
    margin-top: 2px;
}


 .editarusuario { 
        margin-top: 5px;
         float: right;
         text-align: center;
        
         font-family: 'Segoe UI';
         font-size: 25;
         margin-right: 3px;
 }  

 .editaruser {
     color:white;
    margin-top: 1px;
}

.imagencerrar{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    margin-top: 2px;

}

.cerrarsesionfig{
    margin-top: 5px;
    float: right;
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Segoe UI';
    font-size: 30;
    margin-right: 20px;

}

.cerrarpalabra{color:white;
    margin-top: 3px;}
    

.menu{
   
    height:100%;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    background-color: #5686F3;
    padding: bottom 100px;
    
}

.usermenu{
    width: 70px;
    height: 70px;
}
.figuremenu {
    margin-top: 0%;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    
}
.botonmenu {
    border: white 1px solid;
    background-color: #5686F3;
    width: 100%; 
    font-size: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
    line-height: 30px;
    text-align:center;
    margin-top: 7px;

}
.iconoboton {
    width: 30px;
    height: 30px;
  margin-top: 0%; 
  padding-left: 0%;
  margin-right: 20px;
  display: flex;
  float: left;
}
.botonesmenu 
{width: 100% !important;
 text-align: left !important;
 padding-right: 40px !important;
 font-size: 17px !important;
 padding-top: 3px !important;




}
.btn {
    border: none;
    width:160px ;
    background-color:transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px ;
    margin-left: 0;
    text-align: left;
    
}

.divicono{
    float: left;
    margin-left:9px ;
    margin-right:0;
    
}

.titulo {
    margin-top: 2% !important;
    font-family: Gabriola, Regular;
    margin-left: 2%;
    font-size: 36px;
    width: 50%;
}
.contenedortitulo {

    width: 100% !important ;
    display: flex !important;
    float: left !important;
    margin-left: 0% !important;

    height: 0% !important;
    margin-right: 0% !important;
    padding: 0% !important;
    margin-top: 0 !important;

}

.lineasub{
   margin-top: 1% !important;
   width: 45%;
   border: 1px black solid ;
   color: black;

}
.estilotabs
{
    font-family: Gabriola,Regular;
    font-size: 30px;
}
.botonregistrarcat
{
    margin-left: 28%!important;
    height: 12% !important;
    margin-top: 4%;
}

.boton2
{
  margin-left: 1%;
    height: 12% !important;
    margin-top: 4%;   
}
.tabs {
    position: relative;
    min-height: 200px;
    width: 500px;
    margin: 25px 0;
    margin-left: 25%;
    margin-top: 8%;
  }
  .tab {
    float: left;
  }
  .tab label {
    background: #ddd; 
    padding: 10px; 
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: -1px; 
  }
  .tab:first-child label {
    margin-left: 0;
  }
  .tab input[type=radio] {
    display: none;   
  }
  .tab-content {
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    padding: 20px;
    border: 1px solid #989ca5;
    display: none;
    width: 180%;
    height: 300%;
  }
  input[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
  }
  input[type=radio]:checked ~ label ~ .tab-content {
    display: block;
  }

  .contenedor-tabla
{  
  margin-left: 1% !important;
  margin-top: 1% !important;  
  height: 20% !important;   
  padding-top: 0% ;
  
  align-items: center;
  width: 100% !important;
}
 
.headtable
{
    text-align: center !important;
    background-color: #5686F3;
    font-family:Gabriola, Regular;
    color: white;
    font-size: 20px;
}
.tablebody
{
    text-align: center;
    overflow: auto
}

.btntabla
{
    width: 4% !important;
    padding: 0 !important;
    border: none !important;
}

.botontabla
{
    width: 17px;
}
