.body{
    
    width: 99%;
    height: 619px;
    background: transparent radial-gradient(closest-side at 50% 50%, #9A8EEE 0%, #363EAF 100%) 
    0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}
.titulo{
   margin-top: 76px;
    left: 631px;
    width: 645px;
    height: 65px;

    text-align: left;
    font: normal normal normal 50px/65px Tempus Sans ITC;
    letter-spacing: 0px;
    color: #FAFAFA;
    opacity: 1;
}
.divimg{
    display: flex;
    align-items: center !important;
    margin-bottom: 25px;
}
.button{
    width: 206px;
    height: 40px;
    margin-left:60px ;
    background: #363EAF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    opacity: 1;
}
input{
    height: 30px;
    width: 300px;
}
font{
    color: #FFFFFF;
}
.link{
    color: #FFFFFF;
    font-size: 11px;
    margin-left: 140px;
}
.formulario{
    margin-bottom: 40px;
}
