.contenedorPa {
    margin-top: 2%;
    margin-left: 25%!important;
    margin-right: 0 !important;
    width: 65% !important;
    padding: 2% !important;
    display: flex;
    flex-direction: column;
}
.conta{
  display: flex;
  
}