.body{
    margin: 0%;
    width: 100%;
    height: 100%;

}

header {
    background-color:#363EAF;
    width:100% ; 
    height: 70px;
    margin-bottom: 0%;
    
    
}
.divprinci{
    display: flex;
    float: left;
    width: 15%;
    background-color: #5686F3;
    margin-top: 0%;
    padding: 0%;

    
}


.userheader {
   
    width: 28px;
    height: 28px;
    margin-right: 5%;
    margin-top: 2px;
}


 .editarusuario { 
        margin-top: 5px;
         float: right;
         text-align: center;
        
         font-family: 'Segoe UI';
         font-size: 25;
         margin-right: 3px;
 }  

 .editaruser {
     color:white;
    margin-top: 1px;
}

.imagencerrar{
    width: 25px;
    height: 25px;
    margin-right: 5%;
    margin-top: 2px;

}

.cerrarsesionfig{
    margin-top: 5px;
    float: right;
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Segoe UI';
    font-size: 30;
    margin-right: 20px;

}

.cerrarpalabra{color:white;
    margin-top: 3px;}
    

.menu{
   
    height:100%;
    padding-left: 1px;
    padding-right: 1px;
    margin: 0;
    background-color: #5686F3;
    padding: bottom 100px;
    
}

.usermenu{
    width: 70px;
    height: 70px;
}
.figuremenu {
    margin-top: 0%;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI';
    
}
.botonmenu {
    border: white 1px solid;
    background-color: #5686F3;
    width: 100%; 
    font-size: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
    color: white;
    line-height: 30px;
    text-align:center;
    margin-top: 7px;

}
.iconoboton {
    width: 30px;
    height: 30px;
  margin-top: 0%; 
  padding-left: 0%;
  margin-right: 20px;
  display: flex;
  float: left;
}
.botonesmenu 
{width: 100% !important;
 text-align: left !important;
 padding-right: 40px !important;
 font-size: 17px !important;
 padding-top: 3px !important;




}
.btn {
    border: none;
    width:160px ;
    background-color:transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px ;
    margin-left: 0;
    text-align: left;
    
}

.divicono{
    float: left;
    margin-left:9px ;
    margin-right:0;
    
}

.btncatg{
    border: none ;
    background-color: transparent;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px !important;
    margin-left: 0;
    width: 140px;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 5px;
    padding-left: 0;
    
}

.titulo {
    margin-top: 2% !important;
    font-family: Gabriola, Regular;
    margin-left: 2%;
    font-size: 36px;
}
.contenedortitulo {

    width: 100% !important ;
    display: flex !important;
    float: left !important;
    margin-left: 0% !important;

    height: 0% !important;
    margin-right: 0% !important;
    padding: 0% !important;
    margin-top: 0 !important;

}

.lineasub{
   margin-top: -1% !important;
   
   border: 1px black solid ;
   color: black;

}
.linkstockmin{
    float: right;
    
    width: 50%;
    margin-right: 0%;
    margin-left: 20% ;
    text-align: right;
    padding-top: 1%;

}

.contenedor-tabla
{  
  margin-left: 20% !important;
  margin-top: 8% !important;  
  height: 20% !important;   
  padding-top: 0% ;
  align-items: center;
  width: 76% !important;
}
 
.headtable
{
    text-align: center !important;
    background-color: #5686F3;
    font-family:Gabriola, Regular;
    color: white;
    font-size: 20px;
}
.tablebody
{
    text-align: center;
    overflow: auto
}

.btntabla
{
    width: 4% !important;
    padding: 0 !important;
    border: none !important;
}

.botontabla
{
    width: 17px;
}
